.transport {
  width: 10em;
  height: 10em;
  position: relative; }
  .transport svg {
    fill: #333;
    width: 100%; }
  .transport .tram {
    position: absolute;
    top: 2em;
    left: 2.5em;
    width: 5em;
    height: 7em;
    background: none no-repeat center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20240%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M20%2C185L29%2C54C29%2C46%2C36%2C40%2C44%2C40h93%20%20%20%20%20%20%20%20%20c8%2C0%2C14%2C6%2C15%2C14l9%2C130c%2D2%2C5%2D29%2C16%2D70%2C16S22%2C189%2C20%2C185z%22%2F%3E%3Cpath%20d%3D%22M145%2C115l%2D3%2D51c0%2D8%2D7%2D14%2D15%2D14H53C45%2C50%2C39%2C56%2C38%2C64l%2D3%2C51C35%2C129%2C77%2C130%2C90%2C130S145%2C129%2C145%2C115z%20%20%20%20%20%20%20%20%20M90%2C120c%2D26%2C0%2D41%2D4%2D45%2D6l3%2D49C48%2C62%2C50%2C60%2C53%2C60h74c3%2C0%2C5%2C2%2C5%2C5l3%2C49C131%2C116%2C116%2C120%2C90%2C120z%22%2F%3E%3Cpath%20d%3D%22M45%2C150C37%2C150%2C30%2C157%2C30%2C165S37%2C180%2C45%2C180S60%2C173%2C60%2C165S53%2C150%2C45%2C150z%20M45%2C170C42%2C170%2C40%2C168%2C40%2C165S42%2C160%2C45%2C160%20%20%20%20%20%20%20%20%20S50%2C162%2C50%2C165S48%2C170%2C45%2C170z%22%2F%3E%3Cpath%20d%3D%22M135%2C150c%2D8%2C0%2D15%2C7%2D15%2C15s7%2C15%2C15%2C15s15%2D7%2C15%2D15S143%2C150%2C135%2C150z%20M135%2C170c%2D3%2C0%2D5%2D2%2D5%2D5%20%20%20%20%20%20%20%20%20s2%2D5%2C5%2D5s5%2C2%2C5%2C5S138%2C170%2C135%2C170z%22%2F%3E%3Cpath%20d%3D%22M179%2C232L152%2C200c11%2D4%2C18%2D10%2C18%2D16L161%2C53C160%2C40%2C149%2C30%2C136%2C30H95V10c28%2C1%2C36%2C8%2C36%2C8%20%20%20%20%20%20%20%20%20C132%2C19%2C134%2C20%2C135%2C20c1%2C0%2C2%2C0%2C3%2D1c2%2D2%2C2%2D5%2C0%2D7C138%2C10%2C127%2C0%2C90%2C0S42%2C10%2C41%2C12C39%2C14%2C40%2C17%2C42%2C19%20%20%20%20%20%20%20%20%20C44%2C20%2C47%2C20%2C49%2C18c0%2C0%2C8%2D7%2C36%2D8v20H44C31%2C30%2C20%2C40%2C19%2C53L10%2C185c0%2C6%2C7%2C11%2C18%2C15l%2D27%2C31%20%20%20%20%20%20%20%20%20c%2D2%2C2%2D2%2C5%2C1%2C7C3%2C240%2C4%2C240%2C5%2C240c1%2C0%2C3%2D1%2C4%2D2l30%2D35C53%2C208%2C72%2C210%2C90%2C210c18%2C0%2C37%2D2%2C52%2D6l30%2C35%20%20%20%20%20%20%20%20%20c1%2C1%2C2%2C2%2C4%2C2c1%2C0%2C2%2C0%2C3%2D1C180%2C237%2C181%2C234%2C179%2C232z%20M20%2C185L29%2C54C29%2C46%2C36%2C40%2C44%2C40h93%20%20%20%20%20%20%20%20%20c8%2C0%2C14%2C6%2C15%2C14l9%2C130c%2D2%2C5%2D29%2C16%2D70%2C16S22%2C189%2C20%2C185z%22%2F%3E%3C%2Fsvg%3E"); }
    .transport .tram::before, .transport .tram::after {
      content: '';
      position: absolute;
      top: 88%;
      left: 9%;
      width: 82%;
      height: 5%;
      background: #333;
      transition: all 0.3s;
      z-index: -1; }
    .transport .tram::after {
      top: 80%;
      left: 16%;
      width: 68%; }
  .transport:hover .tram::before {
    animation: transport-rails-2 0.3s 0.6s 2; }
  .transport:hover .tram::after {
    animation: transport-rails-1 0.3s 0.6s 2; }
  .transport .man.in {
    position: absolute;
    left: 0;
    top: 4em;
    width: 2em;
    height: 3em;
    opacity: 0;
    background: none no-repeat center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20651%20973%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%22362%22%20cy%3D%2281%22%20r%3D%2281%22%2F%3E%3Cpath%20d%3D%22M614%2C428c%2D22%2D4%2D112%2D19%2D117%2D21c%2D6%2D2%2C0%2C0%2D2%2D3c%2D2%2D3%2D80%2D168%2D88%2D177c%2D8%2D9%2D29%2D31%2D58%2D40%20%20%20%20%20%20%20%20%20c%2D30%2D10%2D59%2C6%2D59%2C6s%2D147%2C84%2D157%2C89c%2D10%2C5%2D18%2C22%2D18%2C22L46%2C433C40%2C440%2C37%2C449%2C37%2C459c0%2C23%2C19%2C42%2C42%2C42%20%20%20%20%20%20%20%20%20c20%2C0%2C36%2D14%2C40%2D32l64%2D121l40%2D22c%2D3%2C9%2D40%2C188%2D40%2C188l%2D37%2C212L15%2C882C6%2C891%2C0%2C903%2C0%2C917c0%2C26%2C21%2C48%2C48%2C48%20%20%20%20%20%20%20%20%20c16%2C0%2C30%2D8%2C39%2D20c24%2D28%2C144%2D170%2C156%2D183c13%2D15%2C16%2D23%2C18%2D33c2%2D10%2C23%2D139%2C23%2D139l123%2C123V930h0%20%20%20%20%20%20%20%20%20c2%2C24%2C23%2C43%2C48%2C43c25%2C0%2C46%2D19%2C48%2D43h0c0%2C0%2C0%2D2%2C0%2D4c0%2C0%2C0%2C0%2C0%2D1c0%2C0%2C0%2D1%2C0%2D1c0%2D33%2D1%2D198%2C0%2D235%20%20%20%20%20%20%20%20%20c1%2D42%2D13%2D51%2D17%2D54C484%2C630%2C369%2C508%2C369%2C508l25%2D123c0%2C0%2C33%2C64%2C36%2C72c3%2C7%2C14%2C20%2C25%2C22c11%2C2%2C148%2C30%2C148%2C30%20%20%20%20%20%20%20%20%20l0%2C0c2%2C0%2C4%2C1%2C6%2C1c23%2C0%2C41%2D18%2C41%2D41C651%2C447%2C634%2C430%2C614%2C428z%22%2F%3E%3C%2Fsvg%3E"); }
  .transport:hover .man {
    animation: transport-in-out 2s 1 alternate; }
  .transport .man.out {
    position: absolute;
    left: 8em;
    top: 2em;
    width: 2em; }

@keyframes transport-rails-1 {
  from, to {
    top: 80%;
    left: 16%;
    width: 68%; }
  10% {
    top: 77%;
    left: 18%;
    width: 64%;
    opacity: 1; }
  11%, 19% {
    opacity: 0; }
  20% {
    top: 91%;
    left: 4%;
    width: 92%;
    opacity: 1; }
  35% {
    top: 88%;
    left: 9%;
    width: 82%; } }

@keyframes transport-rails-2 {
  from, to {
    top: 88%;
    left: 9%;
    width: 82%; }
  40% {
    top: 80%;
    left: 16%;
    width: 68%; }
  50% {
    top: 77%;
    left: 18%;
    width: 64%;
    opacity: 1; }
  51%, 69% {
    opacity: 0; }
  70% {
    top: 91%;
    left: 4%;
    width: 92%;
    opacity: 1; } }

@keyframes transport-in-out {
  from, 27%, 73%, 94% {
    opacity: 1; }
  30%, 70%, to {
    opacity: 0; }
  10%, 25% {
    left: 0.2em; }
  77%, 90% {
    left: 7.8em; }
  to {
    left: 8em; } }
