@import '../../node_modules/sassdash/index';
@import '../../node_modules/sass-svg/index';

$color: #333;

@mixin top {
  top: 77%;
  left: 18%;
  width: 64%;
}

@mixin rails1 {
  top: 80%;
  left: 16%;
  width: 68%;
}

@mixin rails2 {
  top: 88%;
  left: 9%;
  width: 82%;
}

@mixin bottom {
  top: 91%;
  left: 4%;
  width: 92%;
}

.transport {
  width: 10em;
  height: 10em;
  position: relative;

  svg {
    fill: $color;
    width: 100%;
  }

  .tram {
    position: absolute;
    top: 2em;
    left: 2.5em;
    width: 5em;
    height: 7em;

    background: none no-repeat center;

    @include svg('svg', ( viewBox: 0 0 180 240 )) {
      @include svg('path', ( fill: 'white', d: 'M20,185L29,54C29,46,36,40,44,40h93
        c8,0,14,6,15,14l9,130c-2,5-29,16-70,16S22,189,20,185z'));
      @include svg('path', ( d: 'M145,115l-3-51c0-8-7-14-15-14H53C45,50,39,56,38,64l-3,51C35,129,77,130,90,130S145,129,145,115z
        M90,120c-26,0-41-4-45-6l3-49C48,62,50,60,53,60h74c3,0,5,2,5,5l3,49C131,116,116,120,90,120z'));
      @include svg('path', ( d: 'M45,150C37,150,30,157,30,165S37,180,45,180S60,173,60,165S53,150,45,150z M45,170C42,170,40,168,40,165S42,160,45,160
        S50,162,50,165S48,170,45,170z'));
      @include svg('path', ( d: 'M135,150c-8,0-15,7-15,15s7,15,15,15s15-7,15-15S143,150,135,150z M135,170c-3,0-5-2-5-5
        s2-5,5-5s5,2,5,5S138,170,135,170z'));
      @include svg('path', ( d: 'M179,232L152,200c11-4,18-10,18-16L161,53C160,40,149,30,136,30H95V10c28,1,36,8,36,8
        C132,19,134,20,135,20c1,0,2,0,3-1c2-2,2-5,0-7C138,10,127,0,90,0S42,10,41,12C39,14,40,17,42,19
        C44,20,47,20,49,18c0,0,8-7,36-8v20H44C31,30,20,40,19,53L10,185c0,6,7,11,18,15l-27,31
        c-2,2-2,5,1,7C3,240,4,240,5,240c1,0,3-1,4-2l30-35C53,208,72,210,90,210c18,0,37-2,52-6l30,35
        c1,1,2,2,4,2c1,0,2,0,3-1C180,237,181,234,179,232z M20,185L29,54C29,46,36,40,44,40h93
        c8,0,14,6,15,14l9,130c-2,5-29,16-70,16S22,189,20,185z'));
    }

    &::before, &::after {
      content: '';
      position: absolute;
      @include rails2;
      height: 5%;
      background: $color;
      transition: all 0.3s;
      z-index: -1;
    }

    &::after {
      @include rails1;
    }
  }

  &:hover .tram {
    &::before { animation: transport-rails-2 0.3s 0.6s 2; }
    &::after  { animation: transport-rails-1 0.3s 0.6s 2; }
  }

  .man.in {
    position: absolute;
    left: 0;
    top: 4em;
    width: 2em;
    height: 3em;
    opacity: 0;

    background: none no-repeat center;

    @include svg('svg', ( viewBox: 0 0 651 973 )) {
      @include svg('circle', ( cx: '362', cy: '81', r: '81' ));
      @include svg('path', ( d: 'M614,428c-22-4-112-19-117-21c-6-2,0,0-2-3c-2-3-80-168-88-177c-8-9-29-31-58-40
        c-30-10-59,6-59,6s-147,84-157,89c-10,5-18,22-18,22L46,433C40,440,37,449,37,459c0,23,19,42,42,42
        c20,0,36-14,40-32l64-121l40-22c-3,9-40,188-40,188l-37,212L15,882C6,891,0,903,0,917c0,26,21,48,48,48
        c16,0,30-8,39-20c24-28,144-170,156-183c13-15,16-23,18-33c2-10,23-139,23-139l123,123V930h0
        c2,24,23,43,48,43c25,0,46-19,48-43h0c0,0,0-2,0-4c0,0,0,0,0-1c0,0,0-1,0-1c0-33-1-198,0-235
        c1-42-13-51-17-54C484,630,369,508,369,508l25-123c0,0,33,64,36,72c3,7,14,20,25,22c11,2,148,30,148,30
        l0,0c2,0,4,1,6,1c23,0,41-18,41-41C651,447,634,430,614,428z'));
    }
  }

  &:hover .man {
    animation: transport-in-out 2s 1 alternate;
  }

  .man.out {
    position: absolute;
    left: 8em;
    top: 2em;
    width: 2em;
  }
}

@keyframes transport-rails-1 {
  from, to { @include rails1; }
  10% { @include top; opacity: 1; }
  11%, 19% { opacity: 0; }
  20% { @include bottom; opacity: 1; }
  35% { @include rails2; }
}

@keyframes transport-rails-2 {
  from, to { @include rails2; }
  40% { @include rails1; }
  50% { @include top; opacity: 1; }
  51%, 69% { opacity: 0; }
  70% { @include bottom; opacity: 1; }
}

@keyframes transport-in-out {
  from, 27%, 73%, 94% { opacity: 1; }
  30%, 70%, to { opacity: 0; }
  10%, 25% { left: 0.2em; }
  77%, 90% { left: 7.8em; }
  to { left: 8em; }
}
