$size: 10em;
$color: #333;

.fitness {
  position: relative;
  width: $size;
  height: $size;

  svg { fill: $color; width: 100%; }

  .man {
    width: 8em;
    margin: 0 1em;
  }

  .info {
    display: none;
    text-align: center;

    .heart {
      margin: 1em auto 0.6em;
      width: 4em;
      height: 4em;

      svg {
        height: 100%;
        animation: fitness-heartbeat 1s infinite cubic-bezier(0, 0.42, 0.65, 0.65);
      }
    }

    span {
      color: $color;
      font: bold 2em sans-serif;
    }
  }

  &:hover {
    .man { display: none; }
    .info { display: block; }
  }
}

@keyframes fitness-heartbeat {
  from, 30%, 65%, 75%, 90%, to { transform: scale(1); }
  48%, 52% { transform: scale(0.8); } // first strong beat
  83% { transform: scale(0.9); } // second fast beat
}
