.fitness {
  position: relative;
  width: 10em;
  height: 10em; }
  .fitness .man, .fitness .info {
    transition: opacity 0.3s, transform 0.3s; }
  .fitness .man {
    width: 8em;
    height: 8em;
    margin: 1em;
    background: none no-repeat center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20557%20673%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M552%2C610L394%2C281c%2D8%2D16%2D15%2D32%2D23%2D49l%2D4%2D8l5%2C0c6%2C0%2C12%2C0%2C19%2C0c2%2C0%2C2%2C0%2C3%2C2c15%2C20%2C30%2C39%2C45%2C59%20%20%20%20%20%20%20%20%20l9%2C12c8%2C11%2C19%2C16%2C30%2C16c7%2C0%2C14%2D2%2C20%2D7c17%2D12%2C20%2D32%2C8%2D51c%2D13%2D21%2D27%2D43%2D40%2D64l%2D19%2D31%20%20%20%20%20%20%20%20%20c%2D8%2D12%2D19%2D19%2D33%2D21l%2D9%2D1c%2D29%2D4%2D58%2D9%2D87%2D14c%2D38%2D7%2D71%2D1%2D101%2C18c%2D14%2C9%2D30%2C18%2D45%2C26%20%20%20%20%20%20%20%20%20c%2D10%2C5%2D19%2C11%2D29%2C16c%2D3%2C2%2D4%2C2%2D5%2C2c%2D1%2C0%2D2%2C0%2D4%2D1c%2D26%2D10%2D53%2D20%2D79%2D30l%2D8%2D3C45%2C150%2C40%2C149%2C35%2C149%20%20%20%20%20%20%20%20%20c%2D15%2C0%2D27%2C8%2D32%2C21c%2D7%2C18%2C0%2C38%2C17%2C47c30%2C16%2C60%2C31%2C89%2C47l13%2C7c14%2C7%2C28%2C8%2C42%2C1c7%2D3%2C14%2D6%2C21%2D9%20%20%20%20%20%20%20%20%20c7%2D3%2C14%2D6%2C21%2D9c16%2C27%2C33%2C53%2C49%2C79l15%2C23c%2D14%2C3%2D28%2C5%2D41%2C8l%2D40%2C8c%2D21%2C4%2D35%2C17%2D41%2C36%20%20%20%20%20%20%20%20%20c%2D6%2C20%2D1%2C39%2C15%2C52c22%2C20%2C43%2C40%2C64%2C59c15%2C14%2C30%2C27%2C44%2C41c18%2C17%2C45%2C17%2C62%2C0c16%2D17%2C16%2D42%2D1%2D60%20%20%20%20%20%20%20%20%20c%2D9%2D10%2D18%2D20%2D27%2D29l%2D8%2D9c13%2D1%2C26%2D2%2C38%2D4c1%2C0%2C2%2C0%2C3%2C0c0%2C0%2C1%2C0%2C2%2C3c41%2C57%2C81%2C114%2C122%2C171l14%2C19%20%20%20%20%20%20%20%20%20c9%2C13%2C22%2C20%2C36%2C20c7%2C0%2C15%2D2%2C21%2D6C556%2C655%2C562%2C632%2C552%2C610z%20M522%2C644c%2D7%2C4%2D16%2C2%2D22%2D6l%2D14%2D19%20%20%20%20%20%20%20%20%20c%2D41%2D57%2D82%2D114%2D122%2D171c%2D5%2D7%2D12%2D14%2D25%2D14c%2D2%2C0%2D4%2C0%2D6%2C0c%2D14%2C2%2D28%2C3%2D43%2C4c%2D7%2C1%2D13%2C1%2D20%2C2%20%20%20%20%20%20%20%20%20c%2D5%2C0%2D9%2C4%2D11%2C8c%2D2%2C5%2D1%2C10%2C2%2C14l3%2C4c2%2C2%2C4%2C4%2C5%2C6l18%2C20c9%2C10%2C18%2C19%2C27%2C29%20%20%20%20%20%20%20%20%20c7%2C8%2C8%2C17%2C2%2C23c%2D6%2C6%2D16%2C6%2D23%2D1c%2D15%2D14%2D30%2D27%2D44%2D41c%2D22%2D20%2D43%2D40%2D65%2D60c%2D8%2D7%2D10%2D15%2D7%2D25%20%20%20%20%20%20%20%20%20c3%2D9%2C9%2D15%2C20%2D17l40%2D8c17%2D3%2C35%2D7%2C52%2D10c2%2C0%2C5%2D1%2C7%2D2l2%2D1c4%2D1%2C7%2D4%2C8%2D8c2%2D4%2C1%2D8%2C0%2D11%20%20%20%20%20%20%20%20%20l%2D1%2D2c%2D1%2D2%2D2%2D4%2D3%2D6L280%2C320c%2D17%2D27%2D33%2D53%2D50%2D80c%2D2%2D3%2D8%2D13%2D20%2D13c%2D4%2C0%2D8%2C1%2D12%2C3%20%20%20%20%20%20%20%20%20c%2D7%2C3%2D14%2C6%2D22%2C9c%2D7%2C3%2D15%2C6%2D22%2C9c%2D6%2C3%2D12%2C3%2D18%2D1L122%2C240c%2D30%2D15%2D60%2D31%2D89%2D47%20%20%20%20%20%20%20%20%20c%2D5%2D3%2D7%2D7%2D5%2D12c2%2D4%2C6%2D4%2C7%2D4c2%2C0%2C3%2C0%2C5%2C1l8%2C3C74%2C190%2C100%2C200%2C126%2C210c11%2C4%2C21%2C4%2C32%2D3%20%20%20%20%20%20%20%20%20c9%2D5%2C19%2D11%2C28%2D16c15%2D8%2C31%2D17%2C46%2D27c24%2D15%2C50%2D20%2C81%2D14c29%2C5%2C59%2C10%2C87%2C14l9%2C1c6%2C1%2C10%2C4%2C14%2C9%20%20%20%20%20%20%20%20%20l19%2C31c13%2C21%2C27%2C42%2C40%2C64c6%2C9%2C1%2C13%2D1%2C14c%2D5%2C3%2D9%2C2%2D13%2D4L460%2C268c%2D15%2D19%2D30%2D39%2D44%2D59%20%20%20%20%20%20%20%20%20c%2D6%2D9%2D15%2D13%2D25%2D13c0%2C0%2D1%2C0%2D1%2C0c%2D6%2C0%2D11%2C0%2D17%2C0l%2D27%2C0c%2D5%2C0%2D9%2C2%2D12%2C6c%2D2%2C4%2D3%2C9%2D1%2C13l13%2C28%20%20%20%20%20%20%20%20%20c8%2C17%2C16%2C33%2C23%2C49l158%2C329C531%2C631%2C529%2C639%2C522%2C644z%22%2F%3E%3Cpath%20d%3D%22M223%2C0c%2D17%2C0%2D32%2C6%2D44%2C18c%2D11%2C12%2D18%2C27%2D18%2C44c0%2C34%2C28%2C61%2C61%2C61h0c34%2C0%2C61%2D28%2C61%2D62%20%20%20%20%20%20%20%20%20C285%2C27%2C258%2C0%2C223%2C0z%20M224%2C96L224%2C96c%2D19%2C0%2D34%2D15%2D34%2D34c0%2D9%2C3%2D18%2C10%2D24c6%2D6%2C15%2D10%2C24%2D10%20%20%20%20%20%20%20%20%20c19%2C0%2C34%2C15%2C34%2C34C258%2C81%2C243%2C96%2C224%2C96z%22%2F%3E%3C%2Fsvg%3E"); }
  .fitness .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: scale(0.2);
    text-align: center; }
    .fitness .info .heart {
      margin: 1em auto 0.6em;
      width: 4em;
      height: 4em;
      background: none no-repeat center;
      animation: fitness-heartbeat 1s infinite cubic-bezier(0, 0.42, 0.65, 0.65);
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20137%20120%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M96%2C0C83%2C0%2C74%2C7%2C69%2C12C63%2C7%2C55%2C0%2C41%2C0C16%2C0%2C0%2C23%2C0%2C44c0%2C30%2C58%2C71%2C64%2C75C66%2C120%2C67%2C120%2C69%2C120%20%20%20%20%20%20%20%20%20%20%20c1%2C0%2C3%2C0%2C4%2D1c7%2D5%2C64%2D45%2C64%2D75C137%2C23%2C121%2C0%2C96%2C0z%20M75%2C28c0%2D1%2C6%2D14%2C21%2D14c17%2C0%2C26%2C17%2C26%2C29%20%20%20%20%20%20%20%20%20%20%20c0%2C15%2D28%2C42%2D54%2C60C47%2C88%2C15%2C60%2C15%2C44c0%2D12%2C9%2D29%2C26%2D29c15%2C0%2C21%2C13%2C21%2C14c1%2C3%2C4%2C5%2C7%2C5%20%20%20%20%20%20%20%20%20%20%20C72%2C33%2C74%2C31%2C75%2C28z%22%2F%3E%3C%2Fsvg%3E"); }
    .fitness .info span {
      color: #333;
      font: bold 2em sans-serif; }
    .fitness .info .speed1 {
      position: absolute;
      animation: fitness-speed-1 4s infinite; }
    .fitness .info .speed2 {
      opacity: 0;
      animation: fitness-speed-2 4s infinite; }
    .fitness .info .digits {
      height: 1.2em;
      display: inline-block;
      overflow: hidden; }
    .fitness .info .digit {
      font-size: 1em;
      display: inline-block;
      width: 0.56em;
      vertical-align: top;
      height: 1.2em;
      line-height: 1.2em;
      animation: fitness-digits 8s infinite linear; }
    .fitness .info .digit + .digit {
      animation: fitness-digits 0.8s infinite linear; }
  .fitness:hover .man {
    opacity: 0;
    transform: translate(-10em, 0); }
  .fitness:hover .info {
    opacity: 1;
    transform: scale(1); }

@keyframes fitness-heartbeat {
  from, 30%, 65%, 75%, 90%, to {
    transform: scale(1); }
  48%, 52% {
    transform: scale(0.8); }
  83% {
    transform: scale(0.9); } }

@keyframes fitness-speed-1 {
  from, 19%, 31%, 49%, 71%, 79%, 91%, to {
    opacity: 1; }
  21%, 29%, 51%, 69%, 81%, 89% {
    opacity: 0; } }

@keyframes fitness-speed-2 {
  from, 19%, 31%, 49%, 71%, 79%, 91%, to {
    opacity: 0; }
  21%, 29%, 51%, 69%, 81%, 89% {
    opacity: 1; } }

@keyframes fitness-digits {
  from {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, -10.7em); } }
