.fitness {
  position: relative;
  width: 10em;
  height: 10em; }
  .fitness svg {
    fill: #333;
    width: 100%; }
  .fitness .man {
    width: 8em;
    margin: 0 1em; }
  .fitness .info {
    display: none;
    text-align: center; }
    .fitness .info .heart {
      margin: 1em auto 0.6em;
      width: 4em;
      height: 4em; }
      .fitness .info .heart svg {
        height: 100%;
        animation: fitness-heartbeat 1s infinite cubic-bezier(0, 0.42, 0.65, 0.65); }
    .fitness .info span {
      color: #333;
      font: bold 2em sans-serif; }
    .fitness .info .speed1 {
      position: absolute;
      animation: fitness-speed-1 4s infinite; }
    .fitness .info .speed2 {
      opacity: 0;
      animation: fitness-speed-2 4s infinite; }
    .fitness .info .digits {
      height: 1.2em;
      display: inline-block;
      overflow: hidden; }
    .fitness .info .digit {
      font-size: 1em;
      display: inline-block;
      width: 0.56em;
      vertical-align: top;
      height: 1.2em;
      line-height: 1.2em;
      animation: fitness-digits 8s infinite linear; }
    .fitness .info .digit:last-child {
      animation: fitness-digits 0.8s infinite linear; }
  .fitness:hover .man {
    display: none; }
  .fitness:hover .info {
    display: block; }

@keyframes fitness-heartbeat {
  from, 30%, 65%, 75%, 90%, to {
    transform: scale(1); }
  48%, 52% {
    transform: scale(0.8); }
  83% {
    transform: scale(0.9); } }

@keyframes fitness-speed-1 {
  from, 19%, 31%, 49%, 71%, 79%, 91%, to {
    opacity: 1; }
  21%, 29%, 51%, 69%, 81%, 89% {
    opacity: 0; } }

@keyframes fitness-speed-2 {
  from, 19%, 31%, 49%, 71%, 79%, 91%, to {
    opacity: 0; }
  21%, 29%, 51%, 69%, 81%, 89% {
    opacity: 1; } }

@keyframes fitness-digits {
  from {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, -10.7em); } }
