.signal {
  position: absolute;
  left: -4em;
  width: 11em;
  opacity: 0; }

.signal svg {
  width: 100%;
  fill: none;
  stroke-width: 6px;
  stroke: #333;
  stroke-linecap: round; }

@keyframes signal {
  from, 70%, to {
    opacity: 0; }
  30% {
    opacity: 1; } }

.band, .card:hover {
  border: 0.45em solid #333;
  width: 3em;
  height: 7em;
  margin: 1em 5em;
  border-radius: 1em;
  position: relative; }
  .band::before, .card:hover::before {
    content: '';
    position: absolute;
    top: -1em;
    left: 0.5em;
    width: 2em;
    height: 1em;
    background: #333;
    box-shadow: 0 8em #333; }
  .band::after, .card:hover::after {
    content: '$';
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 50%;
    background: transparent;
    font-family: monospace;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    line-height: 0.8em;
    color: #333;
    transform: scale(1, 1); }
  .band .signal1, .card:hover .signal1 {
    animation: signal 0.8s 0.6s infinite; }
  .band .signal2, .card:hover .signal2 {
    animation: signal 0.8s 0.8s infinite; }
  .band .signal3, .card:hover .signal3 {
    animation: signal 0.8s 1s infinite; }

.card, .band:hover {
  border: 0.45em solid #333;
  width: 10.5em;
  height: 7em;
  margin: 1em 1.25em;
  border-radius: 1em;
  position: relative; }
  .card::before, .band:hover::before {
    content: '';
    top: 0;
    height: 0;
    box-shadow: 0 7em transparent; }
  .card::after, .band:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 12%;
    left: 0;
    width: 100%;
    height: 28%;
    font-size: 0.1em;
    background: #333;
    box-shadow: 0 0 transparent;
    transform: scale(1, -1); }

.band, .card {
  transition: all 0.6s; }

.band::before, .card:hover::before {
  transition: all 0.4s 0.2s; }

.band:hover::before, .card::before {
  transition: all 0.4s; }

.band::after, .card:hover::after {
  transition: all 0.4s, background 0.2s; }

.band:hover::after, .card::after {
  transition: all 0.4s, background 0.2s; }
