$r: 0.4em;
$positions: 1.5 4 6 8 10.5;
$size: 12em;

.sharing { width: $size; height: $size; position: relative; }
.band { width: $size / 4; height: $size; position: absolute; }
.band.to { right: 0; }
.band svg { width: 100%; height: 100%; }

.band.from::before {
  content: '';
  display: block;
  width: $r * 2;
  height: $r * 2;
  transform: translate(-$r, -$r);
  background: black;
  position: absolute;
  left:  #{nth($positions, 1)}em;
  top: $size / 2;
  border-radius: 50%;
  animation: band-sharing 3s infinite;
}

@keyframes band-sharing {
  $start: 8;
  $step: 10;
  $fade: grey;

  @for $i from 1 to length($positions) {
    $p: $start + $step * ($i - 1);
    $from: nth($positions, $i);
    $to: nth($positions, $i + 1);

    #{$p}% {
      left: #{$from}em;
      box-shadow: 0 0 transparent;
    }
    #{$p + 2}% {
      left: #{$to}em;
      box-shadow: #{$from - $to}em 0 $fade;
    }
    #{$p + $step - 1}% {
      box-shadow: #{$from - $to}em 0 transparent;
    }
    #{$p + $step - 0.1}% {
      box-shadow: 0 0 transparent;
    }
  }

  90% { left: #{nth($positions, length($positions))}em; box-shadow: 0 0 transparent; }
}