.recognition {
  position: relative;
  width: 10em;
  height: 10em; }
  .recognition .hand {
    position: absolute;
    width: 5em;
    height: 5em;
    left: 3em;
    top: 3em;
    background: none no-repeat center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%2021%2E4%2019%2E4%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9%2E8%2C2%2E5C9%2E5%2C2%2E8%2C9%2E2%2C3%2E1%2C9%2E1%2C3%2E4C8%2E4%2C3%2C7%2E5%2C3%2C6%2E8%2C3%2E5C6%2E5%2C3%2E7%2C6%2E3%2C4%2C6%2E1%2C4%2E3L3%2E6%2C0%2E8%20%20%20%20%20%20%20%20%20C3%2D0%2E1%2C1%2E7%2D0%2E3%2C0%2E8%2C0%2E4s%2D1%2E1%2C1%2E9%2D0%2E4%2C2%2E8l5%2E7%2C7%2E9l%2D1%2E8%2D0%2E8c%2D1%2D0%2E4%2D2%2E2%2C0%2D2%2E6%2C1c%2D0%2E4%2C1%2C0%2C2%2E2%2C1%2C2%2E6C2%2E9%2C14%2C3%2E8%2C14%2E4%2C4%2C14%2E5%20%20%20%20%20%20%20%20%20c1%2E4%2C0%2E6%2C3%2C2%2E3%2C4%2E4%2C3c2%2C0%2E9%2C4%2E9%2C1%2E8%2C5%2E1%2C1%2E9c0%2E3%2C0%2E1%2C0%2E5%2D0%2E1%2C0%2E6%2D0%2E3c0%2E1%2D0%2E3%2D0%2E1%2D0%2E5%2D0%2E3%2D0%2E6c%2D0%2E2%2D0%2E1%2D3%2E4%2D1%2E1%2D5%2D1%2E9%20%20%20%20%20%20%20%20%20c%2D1%2E1%2D0%2E5%2D2%2E9%2D2%2E3%2D4%2E4%2D3c%2D0%2E2%2D0%2E1%2D1%2E1%2D0%2E5%2D1%2E3%2D0%2E6c%2D0%2E5%2D0%2E2%2D0%2E7%2D0%2E8%2D0%2E5%2D1%2E3c0%2E2%2D0%2E5%2C0%2E8%2D0%2E7%2C1%2E3%2D0%2E5l3%2E4%2C1%2E5c0%2E4%2C0%2E2%2C1%2D0%2E3%2C0%2E7%2D0%2E8%20%20%20%20%20%20%20%20%20L1%2E2%2C2%2E6C0%2E9%2C2%2E1%2C1%2C1%2E5%2C1%2E4%2C1%2E2S2%2E5%2C1%2C2%2E8%2C1%2E4l5%2C6%2E9C8%2C8%2E5%2C8%2E3%2C8%2E6%2C8%2E5%2C8%2E4s0%2E3%2D0%2E5%2C0%2E1%2D0%2E7l%2D1%2E5%2D2C6%2E8%2C5%2E2%2C6%2E9%2C4%2E6%2C7%2E4%2C4%2E3%20%20%20%20%20%20%20%20%20s1%2E1%2D0%2E2%2C1%2E4%2C0%2E2l1%2E5%2C2c0%2E2%2C0%2E2%2C0%2E5%2C0%2E3%2C0%2E7%2C0%2E1c0%2E2%2D0%2E2%2C0%2E3%2D0%2E5%2C0%2E1%2D0%2E7l%2D0%2E9%2D1%2E2c%2D0%2E3%2D0%2E4%2D0%2E2%2D1%2E1%2C0%2E2%2D1%2E4%20%20%20%20%20%20%20%20%20c0%2E4%2D0%2E3%2C1%2E1%2D0%2E2%2C1%2E4%2C0%2E2l1%2E5%2C2c0%2E2%2C0%2E2%2C0%2E5%2C0%2E3%2C0%2E7%2C0%2E1c0%2E2%2D0%2E2%2C0%2E3%2D0%2E5%2C0%2E1%2D0%2E7l%2D0%2E9%2D1%2E2c%2D0%2E3%2D0%2E4%2D0%2E2%2D1%2E1%2C0%2E2%2D1%2E4%20%20%20%20%20%20%20%20%20c0%2E4%2D0%2E3%2C1%2E1%2D0%2E2%2C1%2E4%2C0%2E2l2%2E1%2C2%2E8c1%2E9%2C2%2E6%2C2%2E1%2C6%2E3%2C3%2E7%2C8%2E5c0%2E2%2C0%2E2%2C0%2E5%2C0%2E3%2C0%2E7%2C0%2E1s0%2E3%2D0%2E5%2C0%2E1%2D0%2E7c%2D1%2E3%2D1%2E8%2D1%2E7%2D5%2E8%2D3%2E7%2D8%2E5%20%20%20%20%20%20%20%20%20L15%2E6%2C2c%2D0%2E6%2D0%2E9%2D1%2E9%2D1%2E1%2D2%2E8%2D0%2E4c%2D0%2E3%2C0%2E2%2D0%2E6%2C0%2E6%2D0%2E7%2C0%2E9C11%2E4%2C2%2C10%2E5%2C2%2C9%2E8%2C2%2E5z%22%2F%3E%3C%2Fsvg%3E"); }
  .recognition .arrow {
    position: absolute;
    width: 2em;
    height: 2.5em;
    left: 1em;
    top: 1.5em;
    background: none no-repeat center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%2050%20110%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M41%2C81C43%2C80%2C47%2C80%2C49%2C81C50%2C83%2C50%2C87%2C49%2C89l%2D20%2C20c%2D2%2C2%2D5%2C2%2D7%2C0l%2D20%2D20%20%20%20%20%20%20%20%20%20C0%2C87%2C0%2C83%2C1%2C81C3%2C80%2C7%2C80%2C9%2C81L20%2C93V5C20%2C2%2C22%2C0%2C25%2C0S30%2C2%2C30%2C5v88L41%2C81z%22%2F%3E%3C%2Fsvg%3E"); }
  .recognition:hover .arrow {
    animation: recognition-arrow 2s infinite; }
  .recognition:hover .hand {
    animation: recognition-hand 2s infinite; }

@keyframes recognition-arrow {
  from, 5%, to {
    top: 1.5em; }
  50% {
    top: 6em; }
  from, 40%, 60%, 80%, to {
    opacity: 1; }
  50%, 90% {
    opacity: 0; }
  from, 40%, to {
    transform: scale(1, 1); }
  60%, 80% {
    transform: scale(1, -1); } }

@keyframes recognition-hand {
  from, 90%, to {
    transform: none; }
  40% {
    transform: translate(0.6em, 0.8em) rotate(-25deg); } }
