.upgrade {
  position: relative;
  width: 10em;
  height: 10em; }
  .upgrade .chip {
    position: absolute;
    left: 2em;
    top: 2em;
    width: 6em;
    height: 6em;
    background: none no-repeat center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%2218%2018%2064%2064%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M77%2C19%2E4H23c%2D2%2E1%2C0%2D3%2E8%2C1%2E7%2D3%2E8%2C3%2E8v53%2E9c0%2C2%2E1%2C1%2E7%2C3%2E8%2C3%2E8%2C3%2E8h54c2%2E1%2C0%2C3%2E8%2D1%2E7%2C3%2E8%2D3%2E8v%2D54C80%2E7%2C21%2E1%2C79%2C19%2E4%2C77%2C19%2E4z%20%20%20%20%20%20%20%20%20M76%2E2%2C76%2E3H23%2E8V23%2E9h52%2E4V76%2E3z%22%2F%3E%3C%2Fsvg%3E"); }
    .upgrade .chip .row {
      transform-origin: 3em 3em; }
    .upgrade .chip .leg {
      position: absolute;
      left: 6.12em;
      width: 1.5em;
      height: 0.45em;
      background: none no-repeat center;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%2283%2E5%2023%2E5%2016%2E5%205%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M86%2C28%2E4h5%2E3c0%2E7%2C0%2C1%2E3%2D0%2E3%2C1%2E7%2D0%2E8h5%2E5c0%2E8%2C0%2C1%2E5%2D0%2E7%2C1%2E5%2D1%2E5s%2D0%2E7%2D1%2E5%2D1%2E5%2D1%2E5H93c%2D0%2E4%2D0%2E5%2D1%2D0%2E8%2D1%2E7%2D0%2E8H86%20%20%20%20%20%20%20%20%20%20%20c%2D1%2E2%2C0%2D2%2E3%2C1%2D2%2E3%2C2%2E3C83%2E8%2C27%2E4%2C84%2E8%2C28%2E4%2C86%2C28%2E4z%22%2F%3E%3C%2Fsvg%3E"); }
    .upgrade .chip .leg:nth-child(1) {
      top: 0.6em; }
    .upgrade .chip .leg:nth-child(2) {
      top: 1.68em; }
    .upgrade .chip .leg:nth-child(3) {
      top: 2.76em; }
    .upgrade .chip .leg:nth-child(4) {
      top: 3.84em; }
    .upgrade .chip .leg:nth-child(5) {
      top: 4.92em; }
    .upgrade .chip .row:nth-child(1) {
      transform: rotate(90deg); }
    .upgrade .chip .row:nth-child(2) {
      transform: rotate(180deg); }
    .upgrade .chip .row:nth-child(3) {
      transform: rotate(270deg); }
    .upgrade .chip .row:nth-child(4) {
      transform: rotate(360deg); }
    .upgrade .chip .rotator {
      position: absolute;
      left: 2em;
      top: 2em;
      width: 2em;
      height: 2em;
      opacity: 0;
      transition: opacity 0.3s;
      animation: upgrading-rotating 1s infinite;
      background: none no-repeat center;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%2052%2052%22%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2%2E9%2C18%2E6l11%2E9%2D2%2E4c0%2E5%2D0%2E1%2C0%2E6%2D0%2E5%2C0%2E2%2D0%2E8l%2D3%2E6%2D2%2E9c3%2E7%2D4%2C9%2D6%2E4%2C14%2E6%2D6%2E4c11%2C0%2C20%2C9%2C20%2C20h6C52%2C11%2E6%2C40%2E4%2C0%2C26%2C0%20%20%20%20%20%20%20%20%20%20%20C18%2E5%2C0%2C11%2E6%2C3%2E2%2C6%2E7%2C8%2E6L3%2E1%2C5%2E7C2%2E7%2C5%2E4%2C2%2E3%2C5%2E5%2C2%2E3%2C6%2E1L2%2C17%2E8C2%2C18%2E3%2C2%2E4%2C18%2E7%2C2%2E9%2C18%2E6z%22%2F%3E%3Cpath%20d%3D%22M49%2E1%2C33%2E4l%2D11%2E9%2C2%2E4c%2D0%2E5%2C0%2E1%2D0%2E6%2C0%2E5%2D0%2E2%2C0%2E8l3%2E6%2C2%2E9c%2D3%2E7%2C4%2D9%2C6%2E4%2D14%2E6%2C6%2E4C15%2C46%2C6%2C37%2C6%2C26H0c0%2C14%2E4%2C11%2E6%2C26%2C26%2C26%20%20%20%20%20%20%20%20%20%20%20c7%2E5%2C0%2C14%2E4%2D3%2E2%2C19%2E3%2D8%2E6l3%2E5%2C2%2E9c0%2E4%2C0%2E4%2C0%2E8%2C0%2E2%2C0%2E8%2D0%2E4L50%2C34%2E2C50%2C33%2E7%2C49%2E6%2C33%2E3%2C49%2E1%2C33%2E4z%22%2F%3E%3C%2Fsvg%3E"); }
  .upgrade:hover .rotator {
    opacity: 1; }
  .upgrade:hover .row:nth-child(1) .leg:nth-child(1) {
    animation: upgrading-blink 10.44051s 13.35639s infinite; }
  .upgrade:hover .row:nth-child(1) .leg:nth-child(2) {
    animation: upgrading-blink 8.17323s 10.3744s infinite; }
  .upgrade:hover .row:nth-child(1) .leg:nth-child(3) {
    animation: upgrading-blink 6.68796s 8.94685s infinite; }
  .upgrade:hover .row:nth-child(1) .leg:nth-child(4) {
    animation: upgrading-blink 3.32982s 10.75046s infinite; }
  .upgrade:hover .row:nth-child(1) .leg:nth-child(5) {
    animation: upgrading-blink 10.95589s 3.07999s infinite; }
  .upgrade:hover .row:nth-child(2) .leg:nth-child(1) {
    animation: upgrading-blink 4.54651s 10.33327s infinite; }
  .upgrade:hover .row:nth-child(2) .leg:nth-child(2) {
    animation: upgrading-blink 8.01923s 5.53596s infinite; }
  .upgrade:hover .row:nth-child(2) .leg:nth-child(3) {
    animation: upgrading-blink 6.58223s 5.15939s infinite; }
  .upgrade:hover .row:nth-child(2) .leg:nth-child(4) {
    animation: upgrading-blink 5.05823s 6.83791s infinite; }
  .upgrade:hover .row:nth-child(2) .leg:nth-child(5) {
    animation: upgrading-blink 5.37815s 7.10981s infinite; }
  .upgrade:hover .row:nth-child(3) .leg:nth-child(1) {
    animation: upgrading-blink 1.13134s 5.15127s infinite; }
  .upgrade:hover .row:nth-child(3) .leg:nth-child(2) {
    animation: upgrading-blink 8.50849s 3.58178s infinite; }
  .upgrade:hover .row:nth-child(3) .leg:nth-child(3) {
    animation: upgrading-blink 3.73136s 11.29365s infinite; }
  .upgrade:hover .row:nth-child(3) .leg:nth-child(4) {
    animation: upgrading-blink 10.39177s 14.91287s infinite; }
  .upgrade:hover .row:nth-child(3) .leg:nth-child(5) {
    animation: upgrading-blink 4.81149s 12.66247s infinite; }
  .upgrade:hover .row:nth-child(4) .leg:nth-child(1) {
    animation: upgrading-blink 6.43495s 6.04176s infinite; }
  .upgrade:hover .row:nth-child(4) .leg:nth-child(2) {
    animation: upgrading-blink 6.23471s 1.86031s infinite; }
  .upgrade:hover .row:nth-child(4) .leg:nth-child(3) {
    animation: upgrading-blink 10.57547s 13.99216s infinite; }
  .upgrade:hover .row:nth-child(4) .leg:nth-child(4) {
    animation: upgrading-blink 6.12419s 1.13833s infinite; }
  .upgrade:hover .row:nth-child(4) .leg:nth-child(5) {
    animation: upgrading-blink 6.77476s 3.97454s infinite; }

@keyframes upgrading-rotating {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(-360deg); } }

@keyframes upgrading-blink {
  from, 20%, to {
    opacity: 1; }
  3%, 17% {
    opacity: 0; } }
